.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* 반투명 배경 */
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    font-size: 3rem;
    color: #007bff;
    animation: spin 1s linear infinite;
}

.spinner-overlay h3 {
    margin-top: 20px; /* 스피너 아래 여백 추가 */
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    font-weight: bold;
}
