.Information3Box{
    width: 848px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
}
.Information3linkBtns{
    display: flex;
    gap: 20px;
}
.Information3linkBtns button{
    border: none;
    background-color: #fff;
}
.Information3linkBtnBox{
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}
.Information3linkBtnBox li{
    position: relative;
}
.Information3linkBtnBox li:nth-child(3)::after{
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    border-bottom: 3px solid #000;
    width: 100%;
}
.Information3Box h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}
.Information3Box p{
    margin: 10px 0;
}

.Information3Contain p{
    font-size: 16px;
    margin: 0;
}
.Information2Contain em{
    font-style: normal;
}
.Information3-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.Information3-flex .SearchBtn{
    background-image: url(../../img/Information2SearchBtn.png);
    width: 24px;
    height: 24px;
    background-color: #fff;
}
.Information3-flex select{
    background-color: #fff;
    border: none;
}
.Information3Submit{
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    font-size: 12px;
}
.Information3Contain strong{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}
.Information3-br{
    border: 1px solid #ccc;
}
.Information3-flex select{
    border-right: 1px solid #ccc;
    height: 32px;
}
.Information3Contain{
    border-bottom:  2px solid #ccc;
    padding-bottom: 10px;
}
.Information3Array{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 20px;

}
.Information3Array button{
    background-color: #fff;
    border: none;
}
.InformationBoxTop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.Information3star{
    width: 17px;
    height: 17px;
}
.InformationBoxTop>div:nth-child(1){
    display: flex;
    gap: 5px;
}
.InformationBoxTop>div:nth-child(2){
    display: flex;
    gap: 10px;
}
.InformationBoxTop>div em{
    font-style: normal;
}
.InformationBoxTop>div strong,
.InformationBoxTop>div b{
    font-weight: normal;
}
.InformationBox{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    height: 224px;
    display: flex;
    flex-direction: column;
}
.InformationBox{
    margin-top: 10px;
}
.Information3Box table{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-top: 10px;
}
.Information3Box table tr{
    height: 53px;
}
.Information3Box table td{
    border-bottom: 1px solid #ccc;
}
.Information3Pd{
    padding-left: 10px;
}
.Information3Box table{
    border-collapse: collapse;
    font-size: 12px;
}
.Information3Box strong{
    font-weight: normal;
}
.Information3Box em{
    font-style: normal;
}
.Information3linkBtns li button{
    color: #777;
}
.Information3linkBtns li span{
    color: #777;
}

.Information3linkBtns li:nth-child(3) button{
    color: #000;
}
.Information3linkBtns li:nth-child(3) span{
    color: #000;
}