.Information_Container {
    width: 1120px;
    margin: 0 auto;
}

.Information_Wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.Information_ProductMain {
    width: 83rem;
    margin-top: 2rem;
    margin-bottom: 9.8rem;
    /*margin-left: 2rem;*/
}

.Information_MainTop {
    position: relative;
    padding-bottom: 1rem;
    font-size: 0;
}

.Information_TopHeader {
    margin-top: 0.4rem;
    margin-bottom: 0.75rem;
}

.Information_BadgeList {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    margin-bottom: 0.9rem;
}

.Information_BadgePopup {
    padding: 0 2px 0 6px;
    border-radius: 6px;
    background: rgba(41, 41, 45, 0.05);
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    color: rgba(41, 41, 45, 0.8);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.Information_Title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #222;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.Information_Rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    color: #666;
}

.Information_TagText {
    display: inline-block;
    font-size: 0.9rem;
    vertical-align: middle;
}

.Information_RatingValue {
    font-size: 1.2rem;
    bottom: 2px;
}

.Information_RatingScore {
    display: inline-block;
    font-size: 15px;
    margin-left: 0.4rem;
    vertical-align: middle;
    line-height: 143%;
}

.Information_Body {
}

/*포스터 크기 width*/
.Information_PosterBox {
    display: inline-block;
    width: 300px;
    padding-bottom: 2rem;
}

/*포스터 크기 height*/
.Information_PosterBoxTop {
    background-image: url(//openimage.interpark.com/ticket-desktop/pages/product/noImage_logo.png);
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    background-position: 50% 50%;
    position: relative;
    height: 400px;
}

.Information_PosterBoxImage {
    display: block;
    width: 100%;
    height: 100%;
    border: 0.1rem solid #dadee3;
    box-sizing: border-box;
    object-fit: cover;
}

.Information_PosterBoxBottom {
    margin-top: 0.25rem;
    font-size: 0;
}

.Information_PosterBoxBottom:after {
    display: block;
    clear: both;
    content: "";
}

.Information_CastHeart {
    float: left;
    margin-top: 0.2rem;
    font-size: 0;
}

.Information_CastWrap {
    display: inline-block;
}

.Information_CastBtn {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: inherit;
    line-height: 2.4rem;
    outline-style: none;
    cursor: pointer;
}

.Information_HeartOn {
    font-size: 1.2rem;
    position: relative;
    bottom: -5px;
    margin-right: 5px;
    margin-left: 5px;
    color: red;
}

.Information_HeartOff {
    font-size: 1.2rem;
    position: relative;
    bottom: -5px;
    margin-right: 5px;
    margin-left: 5px;
}

.Information_CastBtn a {
    color: inherit;
}

.Information_HoverCast {
    width: 25rem;
    z-index: 50;
    position: absolute;
    top: 37rem;
    left: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.Information_CastWrap:hover .Information_HoverCast {
    display: block;
    opacity: 1;
    visibility: visible;
}

.Information_PopupWrap {
    position: relative;
    font-size: 1.4rem;
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 1rem;
}

.Information_PopupHead {
}

.Information_PopupTitle {
    cursor: text;
    display: block;
    margin-bottom: 0.4rem;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
}

.Information_PopupBody {
    margin-top: 1rem;
    color: #666;
    font-weight: normal;
    font-size: 1rem;

    line-height: 160%;
    cursor: text;
}

.Information_CastNum {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.Information_Share {
    float: right;
}

.Information_ShareList {
    display: flex;
}

.Information_ShareItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Information_Info {
    display: inline-block;
    width: 23rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
    vertical-align: top;
}

.Information_Info:first-child {
    margin-top: 0;
}

.Information_InfoItem {
    margin-top: 1rem;
    padding-left: 2rem;
    font-size: 0;
    display: flex;
}

.Information_InfoLabel {
    display: inline-block;
    width: 9rem;

    color: #62676c;
    font-size: 1rem;
    font-weight: normal;
    line-height: 160%;
    vertical-align: top;
    box-sizing: border-box;
}

.Information_InfoText {
    position: relative;
    max-width: 41.5rem;
    color: #000;
    font-size: 1.6rem;
    line-height: 160%;
}

.Information_InfoDesc {
    position: relative;
    max-width: 41.5rem;
    color: #000;
    font-size: 1rem;
    line-height: 160%;
}

.Information_InfoDesc span {
    color: #7e7e7e;
    margin-left: 5px;
}

.Information_InfoWrap {
    position: relative;
    margin-right: 8px;
    color: #000;
    font-size: 1rem;
    line-height: 160%;
    vertical-align: middle;
    text-align: left;
    font-weight: inherit;
}

.clickable-text {
    cursor: pointer;
    text-decoration: none;
}
