.main-banner-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero_banner {
    position: relative;
    height: 560px;
    background: #f5f6f9;

}

.swiper-wrapper {
    transform: translate3d(0, 0, 0);

}

.hero_banner .swiper-slide {
    overflow: hidden;
}

.hero_banner_link {
    display: block;
    position: relative;
    height: 560px;
}

.hero_banner_wrap {
    height: 100%;
    width: 100%;
}

.hero_banner_imgbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 560px;
    transform: translate(-50%, -50%);
}

.hero_banner_img {
    width: 100%;
    height: 100%;
}

/*=============================================*/
.autoplay-progress {
    position: absolute;
    right: 21%;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #FF7B14;
}

.autoplay-progress svg {
    position: absolute;
    width: 100%;
    height: 100%;
    stroke-width: 2.5px;
    stroke: #FF7B14;
    fill: none;
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.autoplay-progress svg circle.progress {
    stroke: #FF7B14;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
}

.autoplay-progress svg circle.background {
    stroke: #fff;
    stroke-dashoffset: 0;
}

.autoplay-progress span {
    color: white;
    font-size: 14px;
}

.panel_warp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 28px;
    width: 100%;
    scroll-snap-align: start;
    scroll-margin-top: 50px;
}

.mainbaner_banner_pagination {
    display: flex;
    position: absolute;
    bottom: 57px;
    left: 50%;
    margin-left: -560px;
    font-size: 0;
    z-index:10;
    gap: 10px;
}

.mainbaner_banner_pagination_item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 55px;
    height: 68px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0.5;
    background: #f5f6f9;
}

.mainbaner_banner_pagination_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid transparent;
}

.mainbaner_banner_pagination_item:hover, .mainbaner_banner_pagination_item.active {
    transform: scale(1.1);
    border: 2px solid white;
    opacity: 1;
}
