.CategoryVideo_Container {
    margin: 2.5rem auto;
    max-width: 1120px;
    text-align: center;
}

.CategoryVideo_Title {
    margin-bottom: 2.5rem;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.05em;
    font-weight: 500;
    color: #242428;
}

.CategoryVideo_Menu {
    width: 1120px;
    display: flex;
    height: 50px;
    justify-content: center;
    gap: 5px;
}
.CategoryVideo__Wrapper button {
    padding: 10px 20px;
    border: 1px solid #777;
    border-radius: 20px;
    background-color: #fff;
}
.CategoryVideo__Wrapper:nth-child(1) button {
    background-color: #ffa564;
    color: #fff;
}

/* ================ 하단 =============== */
