.regionRanking_rankingNumber {
    position: absolute;
    left: 1rem;
    top: 13.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.regionRanking_section {
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
    overflow: visible;
}

.regionRanking_notice {
    margin-top: 50px;
}

.regionRanking_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

.regionRanking_title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.05em;
    font-weight: 500;
    color: #242428;
    flex: 1;
}

.regionRanking_btn_all {
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 22px;
    top: -5px;
    color: #242428;
}

.regionRanking_btn_all:before {
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: #242428;
    content: '';
    cursor: pointer;
}

/* Swiper Styles */
.regionRanking_swiper {
    padding: 0 30px;
}

.swiper-slide {
    margin-right: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regionRanking_imgbox {
    position: relative;
    width: 200px;
    height: 276.5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 12px;
}

.regionRanking_imgbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.regionRanking_imgbox:hover {
    transform: translateY(-5px);
}

.regionRanking_imgbox:hover img {
    transform: scale(1.05);
}

.regionRanking_info {
    width: 200px;
    padding: 10px 0;
    color: #242428;
    text-align: left;
    border-radius: 0 0 12px 12px;
}

.regionRanking_item_title {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.regionRanking_item_date {
    font-size: 12px;
    margin-top: 3px;
    color: #666;
}
