.float-bnr {
    position: relative;
    z-index: 1000;
}

.float-bnrs {
    position: fixed;
    top: 100px;
    left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.float-bnr-btn img {
    width: 115px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.float-bnr-btn img:hover {
    transform: scale(1.1);
    top: -10rem;
}

.float-bnr-img {
    position: absolute;
    top: 2rem;
    display: none;
    width: 120px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.float-bnr-img.show {
    display: block;
    transform: scale(0.5);

    opacity: 1;
}

.float-bnr-img.hide {
    display: none;
    opacity: 0;
}
