.header {
    width: 100%;
    background-color: #fff;
}

.header_topNavContainer {
    width: 1120px;
    margin: auto;
}

.header_topNav {
    display: flex;
    align-items: center;
    height: 70px;
}

.header_logo_navGroup {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header_logo {
    cursor: pointer;
}

.header_nav_item {
    display: flex;
    gap: 20px;
}

.header_nav_item_link[aria-current=true] {
    color: #242428;
}

.header_nav_item_link {
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.04em;
    color: #a7acb6;
    text-decoration: none;
}

.header_userMenu {
    margin-left: auto;
    display: flex;
    gap: 40px;
}

.header_userMenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

.header_icon {
    font-size: 24px;
    color: #555;
    transition: color 0.3s;
}

.header_userMenuItem:hover .header_icon {
    color: #fa2828;
}

.header_mainNav {
    width: 100%;
    border-top: 1px solid #ecedf2;
    border-bottom: 1px solid #242428;
    padding: 10px 0;
}

.header_mainNavContainer {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37rem;
}

.header_navList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_navItem:not(:first-child)::before {
    content: "";
    display: block;
    position: relative;
    left: 5px;
    margin-right: 10px;
    width: 1px;
    height: 16px;
    background: #cfd0d7;
    vertical-align: middle;
}

.header_navItem {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.header_nav_Link_First {
    padding-left: 0 !important;
}

.header_navLink {
    display: block;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.header_navLink:hover {
    background-color: #f5f5f5;
}

.header_searchBar {
    position: relative;
    width: 240px;
}

.header_searchBar input {
    width: 100%;
    padding: 8px 12px;
    padding-right: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header_searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
    font-size: 20px;
}
