
.SearchPw-wrap{
    width: 403px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 300px;
}
.SearchPw-wrap h1{
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.SearchPw-wrap h2{
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}
.SearchPw-h2-2{
    color: #000;
}
.SearchPw-h2-1{
    color: #999;
}
.SearchPw-h2_box{
    display: flex;
    margin-bottom: 20px;
}
.SearchPw-h2_box>div{
    flex: 1;
}
.SearchPw-h2_box>div:nth-child(2){
    border-bottom: 2px solid #000;
}
.SearchPw-h2_box>div:nth-child(1){
    border-bottom: 1px solid #ccc;
}
.SearchPw-strong{
    font-size: 20px;
}
.SearchPw-input1{
    border: 1px solid #ccc;
    width: 398px;
    height: 49px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.SearchPw-input1::placeholder{
    padding-left: 10px;
}
.SearchPw-button{
    width: 398px;
    height: 49px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}