/* .Input_Line {
    border-bottom: 1px solid #ccc;
    height: 50px;
    display: flex;
    align-items: flex-end;
} */

.Join_Container {
    width: 670px;
    margin: 5rem auto;
    position: relative;

    border: 1px solid #ccc;
    border-radius: 5%;

    padding: 5rem 7.5rem;
}

.Join_Title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

.Top_Input {
    color: #797979;
    padding-bottom: 5px;

    border-bottom: 1px solid #ccc;
    height: 50px;
    display: flex;
    align-items: flex-end;
}

.Top_Input label {
    width: 7rem;
    font-size: 16px;
    font-weight: bold;
}

.Top_Input input {
    height: 30px;
    width: 100%;
    margin-right: 10px;
}

.Top_Input input:hover {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.EmailSelect_Box {
    width: 5rem;
    height: 2.5rem;
    border: 1px solid #ccc;
}

/* =========================== */

.Join-form-box-category label {
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
.Join-form-box-header label {
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}
.Join-form-box-category input {
    height: 30px;
    width: 50%;
}
.Join-form-box select {
    margin-bottom: 5px;
    border: none;
    position: absolute;
    right: 0;
}
.Join-form-box-category select {
    margin-bottom: 5px;
    border: none;
    position: absolute;
    right: 0;
}

.Join-btn1 {
    margin-bottom: 5px;
}
.Join-form-box2 label {
    margin-left: 5px;
}
.Join-btn1 {
    position: absolute;
    right: 0;
    font-size: 14px;
}
.Join-form-box2 {
    padding: 10px 0;
    font-size: 14px;
}
.Join-form-box3 {
    font-size: 14px;
    margin-bottom: 30px;
}
.Join-submit {
    width: 493px;
    height: 50px;
    background-color: #000;
    color: #fff;
    margin-bottom: 100px;
}
