
.SearchId-wrap{
    width: 403px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 300px;
}
.SearchId-wrap h1{
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.SearchId-wrap h2{
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}
.SearchId-h2-1{
    color: #000;
}
.SearchId-h2-2{
    color: #999;
}
.SearchId-h2_box{
    display: flex;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.SearchId-h2_box>div{
    flex: 1;
}
.SearchId-h2_box>div:nth-child(1){
    border-bottom: 2px solid #000;
}
.SearchId-h2_box>div:nth-child(2){
    border-bottom: 1px solid #ccc;
}
.SearchId_text{
    font-size: 14px;
    color: #777;
    margin-top: 5px;
    margin-bottom: 5px;
}
.SearchId-phone{
    width: 339px;
    background-color: #000;
    color: #fff;
    margin-left: 60px;
    height: 49px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Search-chk{
    margin-right: 10px;
}